.content {
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background: linear-gradient(180deg, rgba(34, 34, 36, 0) 0%, #222224 39.58%),
    linear-gradient(89.96deg, #343537 0.06%, #4a5055 50.58%, #343537 100%);
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.watch {
}

.watch-container {
  margin-bottom: 20px;
}

.watch__seasons {
  display: flex;
  flex-direction: row;
  /* buttons wrapped */
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.watch__season {
}

.watch__season-text {
  margin-top: 10px;
  margin-right: 16px;
  margin-bottom: 10px;
  margin-left: 16px;
}

.watch__season-hover {
  background: #4c4c50;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.watch__episodes {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}

.watch__episode {
  display: flex;
  flex-direction: row;
  margin: 0px 10px 0px 10px;
}

.watch__episode:first-child {
  margin-left: 0px;
}

.watch__episode:last-child {
  margin-right: 0px;
}

.watch__episode-card {
  display: flex;
  flex-direction: column;
}

.watch__description {
  display: flex;
  align-items: center;
  width: 220px;
  height: 120px;
}

.watch__description-text {
  margin-left: 16px;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  opacity: 0.5;
}

.watch__episode-video {
  position: relative;
  width: 220px;
  height: 120px;
  background-image: url(./img/video.jpg);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.watch__episode-video-hover {
  background-image: url(./img/video.jpg);
  border-radius: 10px 10px 0px 0px;
}

.watch__episode-time {
  position: absolute;
  top: 10px;
  right: 10px;
}

.watch__episode-bar {
  position: absolute;
  top: 110px;
  right: 10px;
  width: 200px;
  height: 4px;
  background: linear-gradient(to right, yellow 70%, black 50%);
  opacity: 0.75;
  border-radius: 4px;
}

.watch__episode-number {
  position: relative;
  height: 37px;
}

.watch__episode-number-text {
  position: absolute;
  top: 10px;
  left: 10px;
}

.watch__episode-number-hover {
  background-color: #ffcc00;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  color: black;
}

.title {
  display: flex;
  align-items: flex-end;
  height: 32px;
}

.title__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  word-spacing: 0.1em;
  text-align: left;
}

.actors-and-humans__title {
  margin-bottom: 20px;
}

.actors-and-humans {
}

.actors-and-humans__container {
  margin-bottom: 30px;
}

.actors-and-humans__actors {
  display: flex;
  flex-wrap: wrap;
}

.actors-and-humans__actor {
  width: 100px;
  margin-right: 30px;
}

.actors-and-humans__actor:last-child {
  margin-right: 0px;
}

.actors-and-humans__actor-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(./img/avatar.png);
  background-size: cover;
  background-position: center;
}

.actors-and-humans__actor-realname {
  display: flex;
  align-items: center;
  min-height: 44px;
}

.actors-and-humans__actor-realname-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  opacity: 0.9;
}

.actors-and-humans__actor-nickname {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.actors-and-humans__actor-nickname-text {
  opacity: 50%;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
}

.same {
}

.same-container {
  margin-bottom: 20px;
}

.same__title {
  margin-bottom: 20px;
}

.same__cards {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}

.same__card {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.same__card:first-child {
  margin-left: 0px;
}

.same__card:last-child {
  margin-right: 0px;
}

.same__card-photo {
  width: 240px;
  height: 320px;
  margin-bottom: 12px;
  background-image: url(./img/filmSame.png);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.same__card-description {
  display: flex;
  flex-direction: column;
}

.same__card-description-name {
  display: flex;
  justify-content: flex-start;
  padding-left: 14px;
  margin-bottom: 8px;
}

.same__card-description-name-text {
  font-size: 16px;
}

.same__card-description-date {
  display: flex;
  justify-content: flex-start;
  padding-left: 14px;
  margin-bottom: 8px;
}

.same__card-description-date-text {
  font-size: 14px;
  opacity: 0.5;
}

.same__card-description-buy {
  display: flex;
  flex-direction: row;
  padding-left: 14px;
  padding-bottom: 12px;
}

.same__card-description-buy-purchase {
  margin-right: 10px;
}

.same__card-description-buy-purchase-text {
  font-size: 12px;
  color: #ff8a00;
  font-weight: 700;
  text-transform: uppercase;
}

.same__card-description-buy-price {
}

.same__card-description-buy-price-text {
  font-size: 12px;
  opacity: 0.5;
}

.about {
  width: 900px;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border: 1px solid #000; */
}

.about__container {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1px;
  opacity: 0.9;
  text-align: left;
  /* border: 1px solid rgb(241, 10, 10); */
}

.info {
  width: 1000px;
  height: 283px;
  padding-top: 10px;
  /* border: 1px solid #000; */
}

.info__container {
  display: flex;
  /* border: 1px solid rgb(17, 199, 57); */
}

.info__container-category {
  display: flex;
  flex-direction: column;
  width: 168px;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  padding-right: 30px;
  /* border: 1px solid rgb(243, 3, 3); */
}

.info__container-category-container {
  /* border: 1px solid rgb(23, 194, 224); */
}

.info__container-category-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 5px;
  /* border: 1px solid rgb(56, 22, 211); */
}

.info__container-category-context {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(225, 250, 3); */
}

.info__container-category-context-value {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  opacity: 0.7;
  margin: 4px 0px;
  /* border: 1px solid rgb(253, 89, 218); */
}

.info__container-category-context-value:last-child {
  margin-bottom: 0px;
}
