.content {
  padding-right: 40px;
  padding-left: 40px;
  background: linear-gradient(180deg, rgba(34, 34, 36, 0) 0%, #222224 39.58%),
    linear-gradient(89.96deg, #343537 0.06%, #4a5055 50.58%, #343537 100%);
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.watch {
  display: block;
  height: 213px;
}

.watch-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.watch__seasons {
  display: flex;
  flex-direction: row;
  /* margin: 0px 0px 8px 0px; */
}

.watch__season {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  min-width: 98px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.watch__season-hover {
  background: #4c4c50;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.watch__episodes {
  display: flex;
  flex-direction: row;
  min-width: 220px;
  height: 180px;
  /* border: 3px solid red; */
}

.watch__episode {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 30px;
  /* border: 3px solid black; */
}

.watch__episode-container {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 157px;
  margin: 0px 10px 0px 10px;
  /* border: 3px solid green; */
}

.watch__episode-container:first-child {
  margin: 0px 10px 0px 0px;
}

.watch__description {
  width: 220px;
  height: 157px;
  padding-right: 26px;
  padding-bottom: 46px;
  padding-left: 6px;
  /* border: 3px solid yellow; */
}

.watch__description-container {
  display: flex;
  align-items: center;
  height: 120px;
  /* border: 3px solid blue; */
}

.watch__description-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.5;
}

.watch__episode-video {
  position: relative;
  width: 220px;
  height: 120px;
  background-image: url(./img/video.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.watch__episode-video-hover {
  width: 220px;
  height: 120px;
  background-image: url(./img/video.jpg);
  border-radius: 10px 10px 0px 0px;
}

.watch__episode-bar {
  position: absolute;
  top: 105px;
  right: 10px;
  width: 200px;
  height: 4px;
  background: linear-gradient(to right, yellow 70%, black 50%);
  opacity: 0.75;
  border-radius: 4px;
}

.watch__episode-time {
  position: absolute;
  top: -100px;
  right: 0px;
}

.watch__episode-number {
  height: 37px;
}

.watch__episode-number-hover {
  background-color: #ffcc00;
  border-radius: 0px 0px 10px 10px;
  color: black;
}

.watch__episode-number-text {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.title {
  display: flex;
  align-items: flex-end;
  width: 1000px;
  height: 32px;
  /* border: 1px solid #000; */
}

.title__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  word-spacing: 0.1em;
  text-align: left;
  /* border: 1px solid red; */
}

.actors {
  display: flex;
  width: 620px;
  height: 209px;
  /* border: 1px solid #000; */
}

.actors__actor {
  width: 124px;
  padding-top: 20px;
  padding-left: 6px;
  /* border: 1px solid rgb(12, 46, 236); */
}

/* .actors__actor:first-child {
  padding-left: 0px;
} */

.actors__actor-container {
  width: 100px;
  height: 169px;
  /* border: 1px solid red; */
}

.actors__actor-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(./img/avatar.png);
  background-size: cover;
  background-position: center;
}

.actors__actor-realname {
  display: flex;
  align-items: center;
  height: 44px;
  /* border: 1px solid rgb(217, 7, 236); */
}

.actors__actor-realname-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  opacity: 0.9;
  /* border: 1px solid rgb(1, 255, 1); */
}

.actors__actor-nickname {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  /* border: 1px solid rgb(226, 223, 9); */
}

.actors__actor-nickname-text {
  opacity: 50%;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  /* border: 1px solid rgb(1, 184, 240); */
}

.same {
  width: 1000px;
  height: 464px;
  /* border: 1px solid #000; */
}

.about {
  width: 900px;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border: 1px solid #000; */
}

.about__container {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1px;
  opacity: 0.9;
  text-align: left;
  /* border: 1px solid rgb(241, 10, 10); */
}

.info {
  width: 1000px;
  height: 283px;
  padding-top: 10px;
  /* border: 1px solid #000; */
}

.info__container {
  display: flex;
  /* border: 1px solid rgb(17, 199, 57); */
}

.info__container-category {
  display: flex;
  flex-direction: column;
  width: 168px;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  padding-right: 30px;
  /* border: 1px solid rgb(243, 3, 3); */
}

.info__container-category-container {
  /* border: 1px solid rgb(23, 194, 224); */
}

.info__container-category-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 5px;
  /* border: 1px solid rgb(56, 22, 211); */
}

.info__container-category-context {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(225, 250, 3); */
}

.info__container-category-context-value {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  opacity: 0.7;
  margin: 4px 0px;
  /* border: 1px solid rgb(253, 89, 218); */
}

.info__container-category-context-value:last-child {
  margin-bottom: 0px;
}
